#about-me {
  box-sizing: border-box;
}

#about-me div h1 {
  text-align: center;
}

#about-me div p {
  text-align: justify;
}

.my-photo {
  margin-top: 4%;
}

.about-page {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
  /* overflow: hidden; */
}

#wrapper-CardExperience hr {
  border: 1px solid #f2a365;
  box-shadow: 0 4px 0 0 #000000;
  width: 20%;
  margin: -5px auto 15px auto;
}


.about-page section#about-me a{
  text-decoration: none;
  color: #f2a365;
}

.about-page section#about-me .story-text{
  max-width: 100%;
  margin: 0 auto;
  font-size: 18px;
}

@media (min-width: 780px) {
  .about-page {
    width: 85%;
  }
  .my-photo {
    max-width: 500px;
  }
  .about-page section#about-me .story-text{
  max-width: 80%;
  margin: 0 auto;
  font-size: 18px;
}
}
