/*eslint-disable*/
.main-page {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}

#mainHeader {
  margin-top: 100px;
}
.wrapper-about {
  display: flex;
  align-items: center;
  margin: auto;
}

.about p {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.wrapper-btn {
  display: flex;
  justify-content: center;
}

.wrapper-userHero {
  display: flex;
  justify-content: center;
}
.userHero {
  min-width: 300px;
}

.tools {
  display: flex;
}

#card {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* .main-card {
  position: relative;
  width: max-content;
  box-sizing: inherit;
} */

#tech-stack {
  margin: 50px 0 100px 0;
}

hr.style-hr {
  border: 1px solid #f2a365;
}

.tools-card {
  position: absolute;
  bottom: 30px;
  right: 50px;
  bottom: 50px;
}

/* Media Query */
@media (min-width: 992px) {
  .wrapper-userHero {
    display: flex;
    justify-content: flex-end;
  }
  .about p {
    text-align: start;
  }
  .wrapper-btn {
    display: flex;
    justify-content: flex-start;
  }
}
