@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap");
.logoHeader {
  width: 80px;
  text-align: center;
}
nav {
  
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transition: 0.6s ease-in-out;
  padding: 0 6%;
  backdrop-filter: blur(20px);
  /* background-color: #0d274f; */
  z-index: 1;
}
.nav-bar--hidden2{
  opacity: 0;
  transform: translateY(-200px);
  transition: 0.5s ease-in-out;

}

.nav{
  float: right;
  margin-top: 25px;
}
.nav-brand{
  float: left;
}

ul {
  display: flex;
}
li {
  list-style: none;
  padding: 0px 10px;
}
.menuNav {
  text-decoration: none;
  color: #203a62;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.menuNav:hover {
  background-color: #0d274f;
  color: #f2a365;
  box-shadow: rgba(242, 163, 101, 1) 5px 5px;
  padding: 8px 10px;
  transition: 0.4s ease-out;
  transform: translateY(-15px) translateX(5px);
  margin-right: 10px;
  font-weight: bold;
}

.active {
  color: #f2a365;
  font-weight: bolder;
  cursor: not-allowed;
}


@media (width <= 530px) {
  nav{
    display: none;
  }
}
